
body{
    background-color: #171717;
    margin: 0;
    padding: 0;
}

.back_el1{
    position: absolute;
    height: 20vw;
}
.back_el2{
    position: absolute;
    margin-top: 28vw;
    height: 40vw;
    right: 0%;
}
.back_el3{
    z-index: -1;
    position: absolute;
    height: 27.8vw;
    
} 

.header{
    position: relative;
    background-color: #2F2F2F;
    width: 78vw;
    margin: 0 auto;
    padding: 50px 0px 50px 0px;
}

.header_input{
    display: flex;
}

#logo{
    padding: 6px 0px 0px 107px;
    height: 28px;
}

.search{
    margin: 0 107px 0 29px;
    width: 100%;
    display: flex;
}

.search #searchbar{
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 84%;
    border: none;
    border-radius: 100px;
}

.search #searchbar_but{
    padding: 11px 25px;
    margin-left: 32px;
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.genre_container{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 107px 0 107px;
}

.genre_container button{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 11px 25px;
    border: none;
    border-radius: 100px;
    margin-right: 20px;
    margin-bottom: 25px;
}







.content {
    display: grid; 
    grid-template-columns: 253px 253px 253px 253px; 
    grid-template-rows: 396px 396px 396px; 
    gap: 60px 92px; 
    grid-template-areas: 
      ". . . ."
      ". . . ."
      ". . . ."; 
    position: relative;
    background-color: #1E1E1E;
    margin-left: auto;
    margin-right: auto;
    width: 78vw;

}
